<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>chat</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">cin chat</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/views/login.html">sign up/login</a>
              </li>
            
              
            </ul>
          </div>
        </div>
      </nav>

      <h1>this is your chat application</h1>
      
        <div id="yourMassage" style="height: 400px; width: 70%; border: 2px black solid; margin: 0 0 0 13%; overflow-y: auto;">
         <p id="ok"></p>
        </div>
       <div style="background-color: aqua; width: 70%; margin: 0 0 5% 13%;">
        <label for="massage"></label>
        <input type="text" name="massage" id="massage" placeholder="write your massage here..." style="width: 83%;">
        <button onclick="massage()" style="width: 100px; background-color: blue;color: white;">send</button>
       </div>
       <a href="/views/login.html" style="margin: 2% 20% 10% 30%;">logout</a> 
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const token=localStorage.getItem("token")
  async function massage(){
    const data={
    massage:document.getElementById("massage").value
  }
  // printMassage(data.massage)
    
   const response=await axios.post('http://localhost:4000/views/display.html',data,{headers:{'Authorization':token}});
   const res=await response.data; 
  }
  let id=0;
  async function getdata(){
    console.log(id)
    axios.get(`http://localhost:4000/views/getdata/${id}`,{headers:{'Authorization':token}})
    .then( res=>{
      for(let i=id;i<res.data.response.length;i++){
    console.log(res.data.response[i].massage)
    printMassage(res.data.response[i].massage)
    id=i
  
   }
   id=res.data.response.length
   
    }
    ) 
 }
console.log(id)
 getdata()


 setInterval(()=>getdata() ,1000)
  

 async function printMassage(data){
      const para=document.createElement('p');
    para.id=data
   para.innerHTML=`you : ${data}`;
   document.getElementById('yourMassage').appendChild(para)
    }
    
</script>
</html>