<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>chat</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">cin chat</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/views/login.html">sign up/login</a>
              </li>
            
              
            </ul>
          </div>
        </div>
      </nav>

      <h1 id="personName" ></h1>
      <div id="creategroup">
        <label for="groupname">create group:</label>
        <input type="text" id="groupname" name="groupname" style="width: 200px; max-width: 90%;" >
        <button onclick="creategroup()" style="width: 200px;max-width: 90%;">create</button>
        <div id="createdgroup">
          <h4 id="created">created groups:</h4>

        </div>

      </div>
      
        <div id="yourMassage" style="height: 400px; width: 70%; border: 2px black solid; margin: 0 0 0 25%; overflow-y: auto; ">
         <p id="sending"></p>
         <p id="receiving"></p>
        </div>
       <div style="background-color: aqua; width: 70%; margin: 0 0 5% 25%;">
        <label for="massage"></label>
        <input type="text" name="massage" id="massage" placeholder="write your massage here..." style="width: 83%;">
        <button onclick="massage()" style="width: 100px; background-color: blue;color: white;">send</button>
       </div>
       <a id="logout" href="/views/login.html" style="margin: 2% 20% 10% 30%;">logout</a> 
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const token=localStorage.getItem("token")
  const groupId=localStorage.getItem('groupId')
  async function massage(){
    const data={
    massage:document.getElementById("massage").value,
    groupId:groupId
  }
  // printMassage(data.massage)
    console.log(data.groupId)
   const response=await axios.post('http://localhost:4000/views/display.html',data,{headers:{'Authorization':token}});
   const res=await response.data; 
  }
  let id=0;
  //let name='';
  async function getdata(){
   // console.log(id)
    axios.get(`http://localhost:4000/views/getdata/${id}/${groupId}`,{headers:{'Authorization':token}})
    .then( res=>{
      console.log(res.data)
      for(let i=id;i<res.data.response.length;i++){
    //console.log(res.data.response[i].massage)
    printMassage(res.data.response[i].massage,res.data.response[i].name)
    id=i
  
   }
   id=res.data.response.length;
   //name=res.data.name;
   document.getElementById('personName').innerHTML=`welcome ${res.data.name}`
    }
    ) 
 }
console.log(id)
 getdata()

 async function creategroup(){
  const group={
    name:document.getElementById("groupname").value
  }
  axios.post("http://localhost:4000/views/group",group,{headers:{'Authorization':token}})
  .then(response=>{
    alert('group created successfully')
    console.log(response)
  })
 }

 function grouplist(){
  axios.get("http://localhost:4000/views/grouplist",{headers:{'Authorization':token}})
 .then(res=>{
  console.log(res.data.resp.length);
  for(let i=0;i<res.data.resp.length;i++){
    if(res.data.resp[i].name!=null){
      let butt=document.createElement('button');
    butt.innerHTML=`${res.data.resp[i].name}`;
   butt.id=`${res.data.resp[i].name}`
   butt.addEventListener("click",()=>{
    showgroup(res.data.resp[i].groupId)
   })
    document.getElementById('created').appendChild(butt)
    }


  }
 })
 }

 grouplist();

 function showgroup(groupId){
  // data={
  //   groupId:groupId
  // }
  // axios.post("http://localhost:4000/views/addgroupuser",data,{headers:{'Authorization':token}})
  // .then(resp=>{
  //   console.log(resp.status)
    localStorage.setItem('groupId',groupId)
    window.location.href="http://localhost:4000/views/display.html"
  //   document.getElementById
  //   }
  // )
 }

 setInterval(()=>getdata() ,1000)
  

 async function printMassage(data,name){
      const para=document.createElement('p');
    para.id=data
    para.className='show'
   para.innerHTML=`${name} : ${data}`;
   document.getElementById('yourMassage').appendChild(para)
    }
    const logout=document.getElementById('logout');
    logout.addEventListener("click",()=>{
      localStorage.clear()
    })
</script>
</html>